.List {
  border-radius: 5px;
  box-shadow: 0px 5px 20px 10px rgb(0, 0, 0, 0.25);
  overflow: hidden;
}
.List-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  background-color: hsl(235, 24%, 19%);
}

.remaining {
  color: hsl(234, 11%, 52%);
}

.btn {
  background-color: transparent;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(234, 11%, 52%);
  cursor: pointer;
}

.btn:hover {
  color: hsl(236, 33%, 92%);
}

.active {
  color: hsl(220, 98%, 61%);
}

.light {
  background-color: white;
}

.light-btns:hover {
  color: hsl(235, 19%, 35%);
}

.mobile-btns {
  display: flex;
  box-shadow: 0px 5px 20px 10px rgb(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  display: none;
}

@media (max-width: 430px) {
  .Navigation-btns {
    display: none;
  }
  .List {
    font-size: 12px;
  }

  .mobile-btns {
    display: flex;
  }
}
